*{
	padding: 0;
	margin: 0;
}
.photoContent{
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#img{
	display: block;
	filter: blur(20px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	-o-filter: blur(20px);
	position: absolute;
	top: 0px;
	left: 0px;

	z-index: 0;
}

#canvas{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;

	z-index: 100;
}
.button{
	display: block;
	position: absolute;
	text-decoration: none;
	line-height: 30px;
	color: #fff;
	text-align: center;
	width: 100px;
	height: 30px;
	border-radius: 7px;

	z-index: 200;
}

#reset{
	left: 100px;
	bottom: 50px;
	background-color: #058;
}
#reset:hover{
	background-color: #047;
}
#show{
	right: 100px;
	bottom: 50px;
	background-color: #085;
}
#show:hover{
	background-color: #074
}